form {
    border: 1px solid red;
    text-align: center;
    min-height: 100vh;
    padding: 3%;

}

.explainarea{
    margin: auto;
    width: 60%;
    padding-bottom: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
    
}

.submitbutton {}


