form {
    text-align: center;
    min-height: 100vh;
    padding: 3%;

}

.explainarea{
    margin: auto;
    width: 60%;
    padding-bottom: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
    
}

.alertdiv {  
    text-align:center;
    animation-name: fadeOut;
    animation-duration: 9s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from{ opacity: 1}
    to {opacity: 0}
}

/* mobile*/
@media screen and (max-width: 567px){

    .explainarea{
        margin: auto;
        width: 90%;
        padding-bottom: 5%;
        margin-bottom: 3%;
        margin-top: 3%;
        
    }





}




