/* desktop view */
@media screen and (min-width:568px){
    .app-wrapper {
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(12,1fr);
        grid-auto-rows: (100px, auto);
        height: 100vh;
        grid-gap: 10px;
        padding: 5px;
        grid-template-areas:
            "header header header header header header header header header header header header"
            "main   main   main   main   main   main   main   data   data   data   data   data "
            "main   main   main   main   main   main   main   data   data   data   data   data "
    }

    .headersection {
        font-size: 2.5em;
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        justify-self: center;
        align-self: center;

    }

    .totalactsmessage {
        padding-bottom: 3%;
        font-size: 1.5em;
        justify-self: center;
    }

    .smallmessage {
        display: none;
        visibility: hidden;
    }


    .mainsection {
        grid-area: main;

    }

    .d3{
        justify-self: center;
    }

    .data {
        grid-area: data;
        /* border: 1px solid orangered;    */
        display: grid;
        grid-template-columns: 1fr;
        padding-right: 2%

    }

    a {
        padding: 5px;
        font-size:1.8em;
        margin-left:10%;
    }

    .icon {
        color: black;
        padding: 12px;
    }
}

/* Media Queires */


/* mobile*/
@media screen and (max-width: 567px){

    .app-wrapper {
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: (100px, auto);
        height: 100vh;
        grid-gap: 10px;
        padding: 5px;
        grid-template-areas:
        "header"
        "data"
    }

    .headersection {
        font-size: 2.5em;
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr;
         text-align: center;
        justify-self: center;
        align-self: center;
    }

    .smallmessage {
        text-align: center;
        justify-self: center;
        font-size: 2.0em;
    }

    .totalactsmessage {
        display: none;
        visibility: hidden;
    }


    .mainsection {
        display: none;
        visibility: hidden;
    }

    .d3{
        justify-self: center;
    }

    .data {
        grid-area: data;
        display: grid;
        grid-template-columns: 1fr;
        padding-right: 2%

    }

    a {
        padding: 5px;
        font-size:1.8em;
        margin-left:10%;
    }
}




