.sidebar-wrapper {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid brown;
    height: 100%;

    
}

.checkboxes {
    display: flex;
    flex-direction: column;
    margin: 50%;
}

.title {
    font-size: 1.5em;
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.check {
    padding: 5%;
}