.wrapper{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 15% auto;
    margin: auto;
    height: 100vh;
    background-color: aqua;


}

.sidebar {
    /* background-color: blue; */
    grid-row: 1/ span 2;
    grid-column: 1; 
}

.header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20%;
}

.main {
    grid-column: 2;
    grid-row: 2;
}

.message {
    font-size: 2.5em;
}

.editbutton {
padding-right: 8%;
}

.thelist {
    margin-top: 5%;
}