@media screen and (min-width:612px){

    .wrapper{
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(12,1fr);
        grid-auto-rows: minmax(100px, auto);
        width: 100%;
        height: 100vh;
        grid-gap: 10px;
        padding: 5px;
        background-color: aqua;
        grid-template-areas:
        "header header header header header header header header header header header header"
        "sidebar sidebar main main main main main main main main main main "
        "sidebar sidebar main main main main main main main main main main "
         "sidebar sidebar main main main main main main main main main main " 
        "sidebar sidebar main main main main main main main main main main "
    }

    .header {
        font-size: 2.5em;
        grid-area: header;
        text-align: center;  
        }
  


    .sidebar {
        grid-area: sidebar;
        align-items: center;    

    }

    .mobileMessage {
        display: none;
        visibility: hidden;
    }

    .mobilesidebar {
        display: none;
        visibility: hidden;
    }

    .main {
        grid-area: main;
        padding-right: 0%;
        overflow: auto;
        margin-left: 25%;
        margin-bottom: 8%;
        }

    .checkboxes {
        display: flex;
        flex-direction: column;
        margin-top: 2.5em;

    }

    .check {
        font-size: 2em;
        padding: 5% 0px 0px 23%;

    }

    .message {
        font-size: 2.5em;
    }

    .editbutton {
    padding-right: 0%;
    }

    .thelist {
        /* margin-top: 5%; */
        margin-left: 0%;
        font-size: 2em;
        /* min-width: 100% */
        margin-bottom: 0px;

    }

    .thebar .icon {
    color:white;       
    }

    .actlist {
        margin-bottom: 0px;
    }

}

/* mobile view */
@media screen and (max-width: 611px) {

    .wrapper{
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(1fr);
        grid-auto-rows: minmax(125px, auto);
        height: 100vh;

        grid-gap: 10px;
        padding: 5px;
        background-color: aqua;
        grid-template-areas:
        "header"
        "main"
        "main"
        "main"
        "main"
       
        
    }

    .sidebar {
        display: none;
        visibility: hidden;
    }

    .mobilesidebar {
        text-align: center;
    }

    .desktopMessage {
        display: none;
        visibility: hidden;
       
    }

    .mobileMessage {
        align-self: center;
        margin-left: 15%;
        font-size: 2em;
        
    }

    .main {
        grid-area: main;
        font-size:.8em;
        padding-right:7%;
        
    }

    .header {
        font-size: 2.5em;
        grid-area: header;  
    
    }

    .checkboxes {
        margin-bottom: 0;
        background-color: yellow;

    }

    .check {
        font-size: 1.4em;
        padding: 5% 0% 3% 3%
    }

    .thelist {
        margin-top: 0%;
    }

}